@model CarShop.Models.ViewModels.UsersViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Register</h1>
<br />
<div class="row">
    <div class="col-12">
        <form asp-action="Register" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Country"></label>
                        <select asp-for="Country" class="form-control" id="country">
                            <option value="">-- Country --</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Region"></label>
                        <select asp-for="Region" class="form-control" id="region">
                            <option value="">--Region --</option>
                        </select>
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Contact"></label>
                        <input asp-for="Contact" type="tel" class="form-control" />
                        <span asp-validation-for=" Contact" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <select asp-for="City" class="form-control" id="city">
                            <option value="">-- City --</option>
                        </select>
                        <span asp-validation-for=" City" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" type="date" class="form-control" />
                        <span asp-validation-for=" DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary ">Register</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        //-------------------------------SELECT CASCADING-------------------------//
        var currentCities = [];
        // This is a demo API key that can only be used for a short period of time, and will be unavailable soon. You should rather request your API key (free)  from http://battuta.medunes.net/
        var BATTUTA_KEY = "f66c6a09d1809a65b82a783ab1fa70e1";
        // Populate country select box from battuta API
        url = "https://geo-battuta.net/api/country/all/?key=" + BATTUTA_KEY + "&callback=?";
        $.getJSON(url, function (countries) {
            //console.log(countries);
            //$("#country").material_select();
            //loop through countries..
            $.each(countries, function (key, country) {

                $("<option></option>")
                    .attr("value", country.code)
                    .append(country.name)
                    .appendTo($("#country"));

            });
            // trigger "change" to fire the #state section update process
            //$("#country").material_select('update');
            $("#country").trigger("change");
        });
        $('#country').on("change", function () {
            countryCode = $("#country").val();

            // Populate country select box from battuta API
            url = "https://geo-battuta.net/api/region/"
                + countryCode
                + "/all/?key=" + BATTUTA_KEY + "&callback=?";

            $.getJSON(url, function (regions) {
                $("#region option").remove();
                //loop through regions..
                $.each(regions, function (key, region) {
                    $("<option></option>")
                        .attr("value", region.region)
                        .append(region.region)
                        .appendTo($("#region"));
                });
                // trigger "change" to fire the #state section update process
                $("#region").trigger("change");

            });
        });
        $("#region").on("change", function () {
            // Populate country select box from battuta API
            countryCode = $("#country").val();
            region = $("#region").val();
            url = "https://geo-battuta.net/api/city/"
                + countryCode
                + "/search/?region="
                + region
                + "&key="
                + BATTUTA_KEY
                + "&callback=?";

            $.getJSON(url, function (cities) {
                currentCities = cities;
                console.log(currentCities);
                var i = 0;
                $("#city option").remove();

                //loop through regions..
                $.each(cities, function (key, city) {
                    $("<option></option>")
                        .attr("value", city.city)
                        .append(city.city)
                        .appendTo($("#city"));
                });
                // trigger "change" to fire the #state section update process
                $("#city").material_select('update');
                $("#city").trigger("change");

            });

        });
    </script>
}
